Домашняя работа №11
"Библиотека pandas"

In [2]:
import pandas as pd

Задание 1.

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [115]:
ratings = pd.read_csv('ratings.csv')
sorting = ratings[ratings.rating >= 5.0].groupby('movieId').count().sort_values('userId', ascending=False).head(1)
name = sorting.merge(pd.read_csv('movies.csv'), on = 'movieId', how = 'left')
name['title']

0    Shawshank Redemption, The (1994)
Name: title, dtype: object

Задание 2.

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [36]:
power = pd.read_csv('power.csv')
power.head(10)

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1
5  Belgium  2011      25.0         1
6  Belgium  2010      22.0         1
7  Belgium  2009      45.0         1
8  Czechia  1998       1.0         1
9  Czechia  1995       7.0         1

In [48]:
power = pd.read_csv('power.csv')

category = power[((power['category'] == 4) | (power['category'] == 12) | (power['category'] == 21)) & 
                 ((power['country'] == 'Latvia') | (power['country'] == 'Lithuania') | (power['country'] == 'Estonia')) 
                 & (power['quantity'] >=0) & ((power['year'] >= 2005) & (power['year'] <= 2010))]
category['quantity'].sum()

240580.0

Задание 3.

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [21]:
df = pd.read_html('https://fortrader.org/quotes')
df[0]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,EURRUB Курс евро к рублю сегодня,80.0977,-1.496,-1.8335,NaN
1,USDRUB Курс рубля к доллару,73.4195,-1.314,-1.7582,NaN